{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        expectations/clojure-test {:mvn/version "1.1.1"}}

 :paths ["src" "resources" "test"]

 :aliases { :test {:extra-deps {com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner"
                                 :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
                   :main-opts ["-m" "cognitect.test-runner"
                               "-d" "test"]}}
 
 }

